{% load static %}
<link rel="manifest" href="{% url 'manifest_pwa' %}">
<meta name="theme-color" content="#4F46E5">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="MUKMAP">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="MUKMAP">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="icon" href="{% static 'pwa/icon-32.png' %}" sizes="32x32">
<link rel="icon" href="{% static 'pwa/icon-192.png' %}" sizes="192x192">
<link rel="apple-touch-icon" href="{% static 'pwa/apple-touch-icon.png' %}">
